@timetable
Feature: Schedule overlays
  A schedule might be changed for a subset of dates using an overlay record

  {{#scenarios}}
  Scenario: Changing calling point stopping times between {{originalOrigin}} and {{originalDestination}}
    Given a query between "{{originalOrigin}}" and "{{originalDestination}}" on "{{originalDate}}" at "{{departureTime}}"
    Then I should see a service "{{tuid}}" that stops at
      | stop | arrival | departure |
      {{#originalStops}}
      | {{stop}}  | {{arrivalTime}}   | {{departureTime}}     |
      {{/originalStops}}
    When I query between "{{newOrigin}}" and "{{newDestination}}" on "{{overlayDate}}" at "{{overlayDepartureTime}}"
    Then I should see a service "{{tuid}}" that stops at
      | stop | arrival | departure |
      {{#newStops}}
      | {{stop}}  | {{arrivalTime}}   | {{departureTime}}     |
      {{/newStops}}

  {{/scenarios}}
