@timetable
Feature: Public time different to scheduled time
  Journey planners should use the public time not the scheduled time

  {{#scenarios}}
  Scenario: Public departure time differs to scheduled departure time by more than a minute between {{origin}} and {{destination}}
    Given a query between "{{origin}}" and "{{destination}}" on "{{date}}" at "{{departureTime}}"
    Then I should see a service "{{tuid}}" that stops at
      | stop | arrival | departure |
      {{#stops}}
      | {{stop}}  | {{arrivalTime}}   | {{departureTime}}     |
      {{/stops}}

  {{/scenarios}}
