@fares @pending
Feature: Non-derivable fares
  A non-derivable fare should be used instead of a flow fare provided they have the same
  origin, destination route code

  {{#scenarios}}
  Scenario: Non-derivable overriding a flow fare between {{origin}} and {{destination}}
    Given a query between "{{origin}}" and "{{destination}}" on "{{date}}" at "10:00"
    Then I should see a fare "{{ticketCode}}" on "{{routeCode}}" that is "{{price}}" pence

  {{/scenarios}}
